<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Entra en mi Mundo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="wrapper">
  <div id="boxy-login-wrapper">
    <form id="boxy-login-form" name="boxy-login-form" method="POST" action="/login">
      <fieldset>
        <div class="boxy-form-inner rotateFirst3d">
          <span class="end-cap left">
            <span class="glyphicon glyphicon-user" data-toggle="tooltip" title="click to login"></span>
          </span>

          <span class="side front">
            <span class="glyphicon glyphicon-user" data-toggle="tooltip" title="introduce tu usuario"></span>
            <input id="boxy-input" type="input" name="username" class="rotate" placeholder="username" required />
            <button class="boxy-button next-field" data-step="0"></button>
          </span>

          <span class="side bottom">
            <span class="glyphicon glyphicon-asterisk" data-toggle="tooltip" title="introduce tu contraseña"></span>
            <input id="boxy-password" step="2" type="password" name="password" class="rotate" placeholder="password" required />
            <button class="boxy-button next-field sub" data-step="1"></button>
          </span>

          <span class="side back">
            <span class="boxy-checked glyphicon glyphicon-check"></span>
            <span class="boxy-unchecked glyphicon glyphicon-unchecked"></span>
            <label for="remember-me">
              <input id="remember-me" type="checkbox" name="remember-me" checked />Recordarme
            </label>
            <button class="boxy-button boxy-final-button" data-step="2">OK</button>
          </span>

          <span class="side top">
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="te enviaremos los datos de acceso"></span>
            <input id="boxy-email" step="9" type="email" name="email" class="rotate" placeholder="email" />
            <button class="boxy-button next-field forgot-btn" data-step="9"></button>
          </span>

          <span class="end-cap right">
            <span class="glyphicon glyphicon-remove-circle icon-failure" data-toggle="tooltip" title="login fallido, intenta de nuevo"></span>
            <span class="glyphicon glyphicon-user icon-success" data-toggle="tooltip" title=""></span>
          </span>
        </div>
      </fieldset>
    </form>
    <span class="boxy-refresh glyphicon glyphicon-refresh"></span>
    <em class="small-forgot">
      <a href="#" class="boxy-forgot">¿Olvidaste algo?</a>
    </em>
  </div>
</div>

<div id="r8-logo-coin"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
"""
